*{
  padding:0;
  margin:0;
}

body {
  background: #eee;
}

.clear{
  clear:both;
}

/* search form */

#app{
  margin:10px;
}

#searchForm{
  padding:10px;
  border:1px solid #fff;
  display:block;
  border-bottom:5px solid #eee;
  width:100%;
}

/* users list */

#usersList{
  background: #fff;
  padding: 10px;
}

.user{
  border-bottom:1px solid #eee;
  padding: 5px 10px;
}

.user img{
  width: 50px;
  float:left;
}
.user p{
  float:left;
  margin-left:10px;
  color: #555;
  font: 10pt Arial;
  line-height: 50px;
}